{# templates/auth_required.jinja2 #}

{{ thought_balloon }} {{name}},

{{ double_exclamation_mark }}{{ double_exclamation_mark }}{{ double_exclamation_mark }} Unfortunately, my system indicates that you do not have permission to access this section.

I'm sorry, but I can't do anything about it. {{ crying_face }}
