{# templates/auth_required.jinja2 #}

{{ thought_balloon }} {{ name }},

{{ double_exclamation_mark }} Two-factor authentication is required to access this section.
If you have not already installed the application, please do so.

<blockquote expandable>The following applications work correctly:
    - Yandex Key
    - Microsoft Authenticator
    - Google Authenticator
</blockquote>

To add an account, please select the {{ first_quarter_moon }} Get QR-code for 2FA app button.
If you have already added an account, you can choose to {{ fountain_pen }} Enter 2FA code button.