{# templates/auth_required.jinja2 #}

{{ thought_balloon }} {{name}},

Two-factor authentication is required to access this section.
If you have not already installed the application, please do so.

<blockquote expandable>The following applications are working correctly:
- Yandex Key
- Microsoft Authenticator
- Google Authenticator
</blockquote>

To add an account, please select <code>Get QR-code for 2FA app</code> button.
If you have already added an account, you can choose to <code>Enter 2FA code</code> button.

