{# templates/a_success.jinja2 #}

{{ emojis['bullseye'] }} {{ emojis['bullseye'] }} {{ emojis['bullseye'] }}

You have successfully authenticated! {{ emojis['saluting_face'] }}

Now you can continue from where I left off. Just a reminder: the session is not infinitely valid. {{ emojis['down-right_arrow'] }}