{#templates/a_success.jinja2#}

{{ emojis['bullseye'] }} {{ emojis['bullseye'] }} {{ emojis['bullseye'] }}

You have successfully authenticated yourself. {{emojis['saluting_face']}}

Now you can continue from where I left off, but please remember that the session is not infinitely valid. {{emojis['down-right_arrow']}}


