Hi *{{ context['username'] }}*!

I'm a bot for server monitoring, here to help you keep an eye on your server.

The current version of my app is: *{{ context['app_version'] }}*

You can easily and quickly check for updates using this command: */check_bot_updates*

👾 Support, source code, questions, and discussions:

- Support: [GitHub Issues](https://github.com/orenlab/pytmbot/issues)
- Source code: [GitHub Repository](https://github.com/orenlab/pytmbot/)
- Discussions: [GitHub Discussions](https://github.com/orenlab/pytmbot/discussions)

🧬 Authors:

- [@orenlab](https://github.com/orenlab)

📜 License:

- MIT License