## 👋 Hi, *{{ context['username'] }}*!

I'm a server monitoring bot, here to help you keep track of your server's performance and health. 🚀

### 🌟 Current App Version:
**{{ context['app_version'] }}**

🔄 **Check for Updates:**
Run the command: /check_bot_updates

---

### 🔗 Useful Links:

- **Support:** [GitHub Issues](https://github.com/orenlab/pytmbot/issues)
- **Source Code:** [GitHub Repository](https://github.com/orenlab/pytmbot/)
- **Discussions:** [GitHub Discussions](https://github.com/orenlab/pytmbot/discussions)

---

### 👨‍💻 Authors:
- [@orenlab](https://github.com/orenlab)

---

### 📜 License:
Licensed under the [MIT License](https://opensource.org/licenses/MIT)  