{{ thought_balloon }} <b>Update Available:</b>

{{ spouting_whale }} <code>Version:</code> {{ current_version }}
{{ calendar }} <code>Released:</code> {{ release_date }}

{{ cooking }} <b>Changes:</b>
{{ release_notes }}