<b>{{ thought_balloon }} Here’s the Update Info:</b>

<b>{{ spouting_whale }} Available Version:</b> {{ current_version }}
<b>{{ calendar }} Release Date:</b> {{ release_date }}

<b>{{ cooking }} Release Notes:</b>
{{ release_notes }}