{# templates/echo.jinja2 #}

{{ thought_balloon }} {{ first_name }},

I’ve checked several times, and I’m sorry to say that I do not recognize that command, or you may not have the necessary permissions to execute it.