<b>{{ thought_balloon }} Here’s the Filesystem Info:</b>

{% for value in context %}
    <b>{{ floppy_disk }} Device Name:</b> {{ value['device_name'] }}
    - <b>Filesystem Type:</b> {{ value['fs_type'] }}
    - <b>Mount Point:</b> {{ value['mnt_point'] }}
    - <b>Volume Size:</b> {{ value['size'] }}
    - <b>Used Space:</b> {{ value['used'] }}
    - <b>Free Space:</b> {{ value['free'] }}
    - <b>Usage Percent:</b> {{ value['percent'] }}%
{% endfor %}

{% if running_in_docker %}
    <b>{{ warning }} Note:</b> Since the bot is running inside a Docker container, comprehensive information about
    system resources is not available.
{% endif %}