{{ thought_balloon }} <b>Filesystem Info:</b>

{% for value in context %}
{{ floppy_disk }} <b>{{ value['device_name'] }}</b>
<code>Type:</code> {{ value['fs_type'] }}
<code>Mount:</code> {{ value['mnt_point'] }}
<code>Size:</code> {{ value['size'] }}
<code>Used:</code> {{ value['used'] }} ({{ value['percent'] }}%)
<code>Free:</code> {{ value['free'] }}

{% endfor %}
{% if running_in_docker %}{{ warning }} <i>Limited resource information available in Docker environment</i>{% endif %}