{# templates/index.jinja2 #}

Hi *{{ first_name }}*,

I'm a bot for server monitoring, here to help you keep an eye on your server. I'm still learning, but today I can provide you with some useful information.

Here's what I can tell you:

🐳 *A large section on Docker*

- Information about containers (even those that have finished work)
- The ability to view container logs
- Information about images
- Management of containers (start, stop, remove, and more)

💡 *Features*

- Load average information
- Summary memory usage information (with swap)
- Sensors information
- Summary process information
- Uptime information
- File system base information
- Basic information about the network connection
- Support for plugins, allowing you to extend my capabilities

My knowledge is still growing, so I recommend checking back periodically to see what I've learned. If there is anything else that I can help you with, please let me know. You can find me on [GitHub](https://github.com/orenlab/pytmbot/)