{# templates/load_average.jinja2 #}

{{ thought_balloon }} Here is:

{{ desktop_computer }} **Load Average:**
- **1 minute:** {{ context[0] }}
- **5 minutes:** {{ context[1] }}
- **15 minutes:** {{ context[2] }}