{# templates/load_average.jinja2 #}
{{ thought_balloon }}Here is:

{{ desktop_computer }} Load in 1 minute: {{ context[0] }}
{{ desktop_computer }} Load in 5 minutes: {{ context[1] }}
{{ desktop_computer }} Load in 15 minutes: {{ context[2] }}
