{{ thought_balloon }} <b>Memory Usage:</b>

{{ abacus }} <b>Total Memory:</b> <code>{{ context.total }}</code>
<code>Used:</code> {{ context.used }} ({{ context.percent }}%)
<code>Free:</code> {{ context.free }}
<code>Available:</code> {{ context.available }}

<b>Details:</b>
<code>Active:</code> {{ context.active }}
<code>Inactive:</code> {{ context.inactive }}
<code>Cached:</code> {{ context.cached }}
<code>Shared:</code> {{ context.shared }}