{# templates/b_net_io.jinja2 — rich HTML #}
<p><b>{{ thought_balloon }} Network stats</b></p>

{% for value in context %}
<table bordered striped>
<tr>
<th>Parameter</th>
<th align="right">Sent</th>
<th align="right">Received</th>
</tr>
<tr>
<td>Bytes</td>
<td align="right">{{ value['bytes_sent']|e }}</td>
<td align="right">{{ value['bytes_recv']|e }}</td>
</tr>
<tr>
<td>Packets</td>
<td align="right">{{ value['packets_sent']|e }}</td>
<td align="right">{{ value['packets_recv']|e }}</td>
</tr>
<tr>
<td>Errors</td>
<td align="right">{{ value['err_out']|e }}</td>
<td align="right">{{ value['err_in']|e }}</td>
</tr>
<tr>
<td>Dropped</td>
<td align="right">{{ value['drop_out']|e }}</td>
<td align="right">{{ value['drop_in']|e }}</td>
</tr>
</table>
{% endfor %}

<footer>{{ globe_showing_europe_africa }} Bytes unite us! {{ hugging_face }}</footer>
