{# templates/sensors.jinja2 #}
{{ thought_balloon }}Here is:

{% for key, value in context.items() %}{{ horizontal_traffic_light }} {{ key }}: {{ value }}
{% endfor %}
{% if running_in_docker %}
    {{ warning }} As the bot is running inside a Docker container, it is not possible to provide information about the system resources.
{% endif %}