{{ thought_balloon }} Hello <b>{{ first_name }}</b>!

<b>Available Server Information:</b>

{{ battery }} Load Average
{{ desktop_computer }} Memory Usage
{{ thermometer }} Sensors
{{ rocket }} Processes
{{ hourglass_not_done }} Uptime
{{ floppy_disk }} File System
{{ satellite }} Network

<i>Use buttons below to view details</i>