{# templates/b_top_processes.jinja2 #}
{{ thought_balloon }} System Resource Usage – Top Processes

<pre language="bash">
{{ context.process_table }}
</pre>

{{ information }} Updated: {{ context.timestamp }}
{%- if context.running_in_docker %}


{{ warning }} <i>Limited resource information available in Docker environment</i>
{%- endif %}