#######################################
# pyTMbot .dockerignore file
# https://github.com/orenlab/pytmbot
# build date: 17.05.2024
#######################################

#######################################
# Environment Files
# Exclude environment directories and configuration files
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
outline.yaml
pytmbot.yaml.sample

#######################################
# Documentation and Metadata
# Exclude markdown, DS_Store, and other metadata files
*.md
**/.DS_Store

#######################################
# Python Files
# Exclude compiled Python files and packaging artifacts
__pycache__/
**/__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#######################################
# IDE and Editor Configurations
# Exclude IDE-specific files and directories
.idea
.run

#######################################
# Git and GitHub
# Exclude Git-related files and configuration
.github
.gitignore
.git

#######################################
# Docker
# Exclude Docker-related files
.dockerignore
docker-compose.yml
Dockerfile

#######################################
# pyTMbot Specific
# Exclude application-specific files and directories
cli
docs
README.md
SECURITY.md
tests
tools

#######################################
# Poetry
# Exclude Poetry configuration files
poetry.lock
pyproject.toml

#######################################
# Logs and Temporary Files
# Exclude logs and temporary files
*.log
tmp/

