#######################################
# pyTMbot .dockerignore file
# https://github.com/orenlab/pytmbot
# build date: 17.05.2024
#######################################

#######################################
# All envirmoment files
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
#######################################
# All md and DS_Store files
*.md
**/.DS_Store
#######################################
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# Setup requirements
setup_req.txt
#######################################
### IDE
# Cash dir
.idea
# Runners configs
.run
#######################################
### Github
# Runners config
.github
# Git
.gitignore
.git
#######################################
### Docker
# .dockerignore
.dockerignore
dev.Dockerfile
docker-compose.yml
Dockerfile
hub.alpine.Dockerfile
hub.ubuntu.Dockerfile
ubuntu.Dockerfile
#######################################
### pyTMbot
# app dir
bot_cli
docs
tests
# Poetry
poetry.lock
pyproject.toml

