################################################################
# General Bot Settings
################################################################
# Bot Token Configuration
bot_token:
  # Production bot token.
  prod_token:
    - 'YOUR_PROD_BOT_TOKEN'  # Replace with your actual production bot token.
  # Development bot token. Optional for production bot.
  dev_bot_token:
    - 'YOUR_DEV_BOT_TOKEN'    # Replace with your development bot token (if needed).

# Chat ID Configuration
chat_id:
  # Global chat ID. Used for all notifications from the plugin.
  global_chat_id:
    - 'YOUR_CHAT_ID'  # Replace with your actual chat ID for notifications.

# Access Control Settings
access_control:
  # User IDs allowed to access the bot.
  allowed_user_ids:

  # Admin IDs allowed to access the bot.
  allowed_admins_ids:

  # Salt used for generating TOTP (Time-Based One-Time Password) secrets and verifying TOTP codes.
  auth_salt:
    - 'YOUR_AUTH_SALT'  # Replace with the salt for TOTP.

################################################################
# Docker Settings
################################################################
docker:
  # Docker socket. Usually: unix:///var/run/docker.sock.
  host:
    - 'unix:///var/run/docker.sock'  # Path to the Docker socket.
  # Debug Docker client (to many logs in debug mode with enabled Monitor plugin and Docker containers count monitoring)
  debug_docker_client: false

################################################################
# Webhook Configuration
################################################################
webhook_config:
  # Webhook URL
  url:
    - 'YOUR_WEBHOOK_URL'  # Replace with your actual webhook URL.
  # Webhook port
  webhook_port:
    - 443  # Port for external webhook requests.
  local_port:
    - 5001  # Local port for internal requests.
  cert:
    - 'YOUR_CERTIFICATE'  # Path to the SSL certificate (if using HTTPS).
  cert_key:
    - 'YOUR_CERTIFICATE_KEY'  # Path to the SSL certificate's private key (if using HTTPS).

################################################################
# Plugins Configuration
################################################################
plugins_config:
  # Configuration for the Monitor plugin
  monitor:
    # Threshold settings
    tracehold:
      # CPU usage thresholds in percentage
      cpu_usage_threshold:
        - 80  # Threshold for CPU usage.
      # Memory usage thresholds in percentage
      memory_usage_threshold:
        - 80  # Threshold for memory usage.
      # Disk usage thresholds in percentage
      disk_usage_threshold:
        - 80  # Threshold for disk usage.
      # CPU temperature thresholds in degrees Celsius
      cpu_temperature_threshold:
        - 85  # Threshold for CPU temperature.
      # GPU temperature thresholds in degrees Celsius
      gpu_temperature_threshold:
        - 90  # Threshold for GPU temperature.
      # Disk temperature thresholds in degrees Celsius
      disk_temperature_threshold:
        - 60  # Threshold for disk temperature.
    # Maximum number of notifications for each type of overload
    max_notifications:
      - 3  # Maximum number of notifications sent for a single event.
    # Check interval in seconds
    check_interval:
      - 5  # Interval for system status checks.
    # Reset notification count after X minutes
    reset_notification_count:
      - 5  # Time in minutes to reset the notification count.
    # Number of attempts to retry monitoring startup in case of failure
    retry_attempts:
      - 3  # Number of retry attempts.
    # Interval (in seconds) between retry attempts
    retry_interval:
      - 10  # Interval between retry attempts.
    # Monitor Docker images and containers
    monitor_docker: True  # True - Monitor Docker images and containers. False - Do not monitor Docker.

  # Configuration for the Outline plugin
  outline:
    # Outline API settings
    api_url:
      - 'YOUR_OUTLINE_API_URL'  # Replace with your actual Outline API URL.
    # Certificate fingerprint
    cert:
      - 'YOUR_OUTLINE_CERT'  # Replace with the actual path to your certificate.

################################################################
# InfluxDB Settings
################################################################
influxdb:
  # InfluxDB host
  url:
    - 'YOUR_INFLUXDB_URL'  # URL of your InfluxDB server.
  # InfluxDB token
  token:
    - 'YOUR_INFLUXDB_TOKEN'  # Replace with your actual InfluxDB token.
  # InfluxDB organization name
  org:
    - 'YOUR_INFLUXDB_ORG'  # Replace with your actual organization name in InfluxDB.
  # InfluxDB bucket name
  bucket:
    - 'YOUR_INFLUXDB_BUCKET'  # Replace with your actual bucket name in InfluxDB.
  # InfluxDB debug mode
  debug_mode: YOUR_INFLUXDB_DEBUG_MODE  # Set to true to enable debug mode.