aiohttp==3.11.10
docker==7.1.0
emoji==2.14.0
fastapi==0.115.12
humanize==4.12.3
influxdb-client==1.48.0
Jinja2==3.1.6
loguru==0.7.3
packaging==24.2
psutil==6.1.0
pydantic==2.11.4
pydantic-settings==2.9.1
pygal==3.0.5
pyoutlineapi==0.1.3
pyotp==2.9.0
pyTelegramBotAPI==4.27.0
PyYAML==6.0.2
qrcode[pil]==8.2
requests==2.32.3
uvicorn==0.34.2
python-dateutil>=2.9.0.post0
urllib3>=2.4.0