annotated-types==0.7.0
certifi==2024.6.2
charset-normalizer==3.3.2
docker==7.1.0
emoji==2.12.1
humanize==4.9.0
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
psutil==5.9.8
pydantic==2.7.4
pydantic-settings==2.3.3
pydantic_core==2.18.4
pyTelegramBotAPI==4.19.2
python-dotenv==1.0.1
requests==2.32.3
telebot==0.0.5
typing_extensions==4.12.2
urllib3==2.2.1
