{# templates/echo.jinja2 #}

{{ thought_balloon }} {{ first_name }},

I have checked several times and I am sorry to say that I do not recognize such a command or you may not have the necessary permissions to execute it.

