{{ thought_balloon }} <b>Docker Overview:</b>

{{ spouting_whale }} <code>Images:</code> <b>{{ context['images_count'] }}</b>
{{ package }} <code>Containers:</code> <b>{{ context['containers_count'] }}</b>

<i>Select an option below for detailed information</i> {{ backhand_index_pointing_down }}