{# templates/docker_templates/d_docker.jinja2 — rich HTML #}
<p><b>🐳 Docker</b></p>

<table bordered striped compact>
<tr><th align="left">Resource</th><th align="right">Count</th></tr>
<tr><td>Images</td><td align="right">{{ context['images_count']|e }}</td></tr>
<tr><td>Containers</td><td align="right">{{ context['containers_count']|e }}</td></tr>
</table>

<p><i>Open Containers or Images from the menu below.</i></p>
