{# templates/docker.jinja2 #}

{{ thought_balloon }}This section provides summary information about {{ spouting_whale }} Docker images and containers.

At this time, I have managed to gather the following information:
- Images: <b>{{ context['images_count'] }}</b>
- Containers: <b>{{ context['containers_count'] }}</b>

<blockquote>Now, I am prepared to provide more detailed information.
Please select a specific section that you would like me to elaborate on {{ backhand_index_pointing_down }}{{ backhand_index_pointing_down }}{{ backhand_index_pointing_down }}</blockquote>
