{{ emojis['thought_balloon'] }} <b>Container logs</b>

<pre><code class="language-bash">
{{ logs }}
</code></pre>
<blockquote>Sensitive values may be masked here. If you need the raw logs, check them on the host with:</blockquote>

<pre><code class="language-bash">sudo docker logs {{ container_name }}</code></pre>
