{% macro format_container_name(name) %}
{{ emojis['briefcase'] }} <b>{{ name }}</b>
{% endmacro %}

{{ emojis['cross_mark'] }} <b>Container actions</b>

You are about to manage {{ format_container_name(container_name) }}.
Current container state: <b>{{ state }}</b>

{{ emojis['anxious_face_with_sweat'] }} <b>Changes here affect the live container immediately.</b>
<b>Start</b>, <b>Stop</b>, and <b>Restart</b> are reversible.
<b>Remove</b> deletes the container.

{% set actions = {
    'Start': 'Start the container using the last set of arguments',
    'Stop': 'Stop the container completely',
    'Restart': 'Restart the container using the last startup parameters',
    'Remove': 'Remove the container'
} %}

Available actions depend on the current container state:
<blockquote expandable>
    {% for action, description in actions.items() %}
    {{ action }}: {{ description }}
    {% endfor %}
</blockquote>

Choose an action for {{ format_container_name(container_name) }}.
