{% if updates %}
    🌟 <b>Updates Found</b> 🌟

    {% for repo, info in updates.items() %}
        🔧 <b>{{ repo }}</b>:

        🏷️ Current tag: <b>{{ info.current_tag }}</b> (Created: {{ info.created_at_local | format_timestamp }})

        🔽 <b>Available updates</b>:
        {% for update in info.updates %}
            ➡️ Newer tag: <b>{{ update.newer_tag }}</b> (Created:
            {{ update.created_at_remote | format_timestamp }}{% endfor %}
    {% endfor %}{% endif %}
{% if no_updates %}
    🚫 <b>No Updates Found</b> 🚫
    {% for repo in no_updates %}
        🐳 <b>{{ repo }}</b>
    {% endfor %}
{% endif %}