{# Display available updates #}
{%- if updates %}
🌟 **Updates Found** 🌟

{%- for repo, info in updates.items() %}


🔧 **{{ repo }}**

🏷️ Current tag: **{{ info.current_tag }}**
📅 Created: {{ info.created_at_local | format_timestamp }}

🔽 **Available updates:**
{%- for update in info.updates %}
➡️ **{{ update.newer_tag }}**
   📅 Created: {{ update.created_at_remote | format_timestamp }}

{%- endfor %}
{%- if not loop.last %}

{%- endif %}
{%- endfor %}
{%- endif %}

{# Display repositories without updates #}
{%- if no_updates %}
🚫 **No Updates Found** 🚫

{%- for repo in no_updates %}
🐳 **{{ repo }}**
{%- if not loop.last %}

{%- endif %}
{%- endfor %}
{%- endif %}