{# templates/index.jinja2 #}
Hi {{ context['first_name'] }},
I'm a bot for server monitoring here to help you keep an eye on your server.

The current version of my app: *{{ context['current_app_version'] }}*

You can easily and quickly check for updates using this command: */check_bot_updates*

👾 Support, source code, questions and discussions

- Support: https://github.com/orenlab/pytmbot/issues
- Source code: [https://github.com/orenlab/pytmbot/](https://github.com/orenlab/pytmbot/)
- Discussions: [https://github.com/orenlab/pytmbot/discussions](https://github.com/orenlab/pytmbot/discussions)

🧬 Authors

- [@orenlab](https://github.com/orenlab)

📜 License

- MIT License
