{# templates/bot_update.jinja2 #}
{{ thought_balloon }}Here is:

{{ spouting_whale }} Available version: <b>{{ current_version }}</b>
{{ calendar }} Release date: <b>{{ release_date }}</b>

{{ cooking }} Release notes:
{{ release_notes }}

Downloads:
- Pre-build image: <a href="https://hub.docker.com/r/orenlab/pytmbot/">on hub.docker.com</a>
- Source: <a href="https://github.com/orenlab/pytmbot">on GitHub.com</a>