{# templates/bot_update.jinja2 #}
{{ thought_balloon }}Here is:

{{ spouting_whale }} Available version: {{ current_version }}
{{ calendar }} Release date: {{ release_date }}

{{ cooking }} Release notes:
{{ body }}

Downloads:
* Pre-build image: https://hub.docker.com/r/orenlab/pytmbot/