{# templates/containers.jinja2 #}

{{ thought_balloon }}Here is:

Container name: {{ basket }} {{ container_name }}

{{ backhand_index_pointing_down }} CPU:
{{ minus }} Periods: {{ container_cpu_stats['periods'] }}
{{ minus }} Throttled periods: {{ container_cpu_stats['throttled_periods'] }}
{{ minus }} Throttled data: {{ container_cpu_stats['throttling_data'] }}

{{ backhand_index_pointing_down }} Memory:
{{ minus }} Usage: {{ container_memory_stats['mem_usage'] }} or {{ container_memory_stats['mem_percent'] }}%
{{ minus }} Limit: {{ container_memory_stats['mem_limit'] }}

{{ backhand_index_pointing_down }} Networks:
{{ minus }} RX bytes: {{ container_network_stats['rx_bytes'] }}
{{ minus }} TX bytes: {{ container_network_stats['tx_bytes'] }}
{{ minus }} RX dropped: {{ container_network_stats['rx_dropped'] }}
{{ minus }} TX dropped: {{ container_network_stats['tx_dropped'] }}
{{ minus }} RX errors: {{ container_network_stats['rx_errors'] }}
{{ minus }} TX errors: {{ container_network_stats['tx_errors'] }}

{{ container_name }} attributes:

{{ backhand_index_pointing_down }} State:
{{ minus }} Running: {{ container_attrs['running'] }}
{{ minus }} Paused: {{ container_attrs['paused'] }}
{{ minus }} Restarting: {{ container_attrs['restarting'] }}
{{ minus }} Restarting count: {{ container_attrs['restarting_count'] }}
{{ minus }} Dead: {{ container_attrs['dead'] }}

{{ backhand_index_pointing_down }} Exits:
{{ minus }} Exit code: {{ container_attrs['exit_code'] }}

{{ backhand_index_pointing_down }} Env variable:
```bash
{% for value in container_attrs['env'] %}
- {{ value }}
{% endfor %}
```

{{ backhand_index_pointing_down }} Launch arguments:
{{ minus }} Command:
```bash
{% for value in container_attrs['command'] %}{{ value }} {% endfor %}
```

{{ minus }} Args:
```bash
{% for value in container_attrs['args'] %}{{ value }} {% endfor %}
```

It seems to be everything...) {{ banjo }}{{ banjo }}{{ banjo }}

