{# templates/containers.jinja2 #}

{{ thought_balloon }}Here is:

{% for value in context %}{{ luggage }} {{ value['name'] }}:
    {{ minus }} Image: {{ value["image"] }}
    {{ minus }} Created: {{ value["created"] }}
    {{ minus }} Memory usage: {{ value["mem_usage"] }}
    {{ minus }} Run at: {{ value["run_at"] }}
    {{ minus }} Status: {{ value["status"] }}

{% endfor %}
More details: