{# templates/containers.jinja2 #}

{{ thought_balloon }}Here is:

Container name: {{ basket }} *{{ container_name }}* {{ backhand_index_pointing_down }}

{{ flag_in_hole }} *CPU*:
{{ minus }} periods: {{ container_cpu_stats['periods'] }}
{{ minus }} throttled periods: {{ container_cpu_stats['throttled_periods'] }}
{{ minus }} throttled data: {{ container_cpu_stats['throttling_data'] }}

{{ railway_car }} *Memory*:
{{ minus }} usage: {{ container_memory_stats['mem_usage'] }} or {{ container_memory_stats['mem_percent'] }}%
{{ minus }} limit: {{ container_memory_stats['mem_limit'] }}

{{ radio }} *Networks*:
{{ minus }} rx bytes: {{ container_network_stats['rx_bytes'] }}
{{ minus }} tx bytes: {{ container_network_stats['tx_bytes'] }}
{{ minus }} rx dropped: {{ container_network_stats['rx_dropped'] }}
{{ minus }} tx dropped: {{ container_network_stats['tx_dropped'] }}
{{ minus }} rx errors: {{ container_network_stats['rx_errors'] }}
{{ minus }} tx errors: {{ container_network_stats['tx_errors'] }}

*{{ container_name }}* attributes {{ backhand_index_pointing_down }}:

{{ puzzle_piece }} *State*:
{{ minus }} running: {{ container_attrs['running'] }}
{{ minus }} paused: {{ container_attrs['paused'] }}
{{ minus }} restarting: {{ container_attrs['restarting'] }}
{{ minus }} restarting count: {{ container_attrs['restarting_count'] }}
{{ minus }} dead: {{ container_attrs['dead'] }}

{{ radioactive }} *Exits*:
{{ minus }} exit code: {{ container_attrs['exit_code'] }}

{{ safety_pin }} *Env variable*:
```bash
{% for value in container_attrs['env'] %}
- {{ value }}
{% endfor %}
```

{{ sandwich }} *Launch arguments*:
{{ minus }} Run command:
```bash
{% for value in container_attrs['command'] %}{{ value }} {% endfor %}
```

{{ sandwich }} *Run args*:
```bash
{% for value in container_attrs['args'] %}{{ value }} {% endfor %}
```

It seems to be everything...) {{ banjo }}{{ banjo }}{{ banjo }}

