{# templates/how_update.jinja2 #}
{{ thought_balloon }}Here is:

🏗 Updating the image

In order to update the image to the latest version, please follow these steps:

- Stopping the running pyTMbot container:

```bash
sudo docker stop pytmbot
```

- Deleting an outdated container:

```bash
sudo docker rm pytmbot
```

- Deleting an outdated image:

```bash
sudo docker rmi pytmbot
```

- Uploading an updated image:

```bash
sudo docker pull orenlab/pytmbot:latest
```

And we run it in the same way as we would if we had just installed the bot:

```bash
sudo docker run -d -m 100M \
-v /var/run/docker.sock:/var/run/docker.sock:ro \
-v /root/.pytmbotenv:/opt/pytmbot/.pytmbotenv:ro \
--env TZ="Asia/Yekaterinburg" \
--restart=always \
--name=pytmbot \
--pid=host \
--security-opt=no-new-privileges \
orenlab/pytmbot:latest
```

*Note: Please don't forget to adjust the time zone!*