{# templates/index.jinja2 #}
Hi {{ first_name }}! I am a test bot for server monitoring! 👋

I am just learning, and today i can output the following information:
- Average system load;
- Information on loading RAM and SWAP;
- Information about the temperature of the server components;
- Summary information about the number of processes;
- System uptime;
- Summary file system information;
- Containers (e.g. Docker) information

But I learn something new every day, so come here periodically)