{# templates/index.jinja2 #}
Hi {{ first_name }},
I'm a bot for server monitoring here to help you keep an eye on your server.
I'm still learning, but today I can provide you with some useful information.

Here's what I can tell you:

- The average system load
- Information about RAM and SWAP usage
- Server component temperatures
- A summary of running processes
- Uptime
- File system information
- Container information (e.g., Docker)

Since version 0.0.8, I have learned how to check for software updates. Let's try it out: /check_bot_updates


My knowledge is still growing, so I recommend checking back periodically to see what I've learned.
If there is anything else that I can help you with, please let me know. You can find me here: https://github.com/orenlab/pytmbot/discussions.
