{# templates/containers.jinja2 #}
{{ thought_balloon }} Hm... I have nothing to show you. There are no containers....

I can recommend a link to one of the most popular containerization systems: https://www.docker.com/

Good luck!

