{# templates/sensors.jinja2 #}
{{ thought_balloon }}Here is:

{% for key, value in context.items() %}{{ horizontal_traffic_light }} {{ key }}: {{ value }}
{% endfor %}
<blockquote>Oh, oh, oh... I'm on this server too!</blockquote>