{# templates/sensors.jinja2 #}
{{ thought_balloon }}Here is:

{% for key, value in context.items() %}{{ thermometer }} {{ key }}: {{ value }}°C
{% endfor %}
{{ exclamation }} Units of measurement: Degrees Celsius