{# plugin_outline_server_info.jinja2 — rich HTML #}
<p><b>🪐 Outline server</b></p>

<p>{{ "🟢 Up and running" if context else "🔴 Down" }}</p>
<table bordered striped compact>
<tr><th align="left">Parameter</th><th align="left">Value</th></tr>
<tr><td>Server name</td><td>{{ (context['name'] if context['name'] else 'Unknown')|e }}</td></tr>
<tr><td>Metrics enabled</td><td>{{ 'Yes' if context['metricsEnabled'] else 'No' }}</td></tr>
<tr><td>Created</td><td>{{ (context['createdTimestampMs'] | format_timestamp if context['createdTimestampMs'] else 'N/A')|e }}</td></tr>
<tr><td>Port for new keys</td><td>{{ (context['portForNewAccessKeys'] if context['portForNewAccessKeys'] else 'N/A')|e }}</td></tr>
</table>
