{# plugin_outline_keys.jinja2 — rich HTML #}
{% set access_keys = context['accessKeys'] %}

<p><b>{{ thought_balloon }} {{ first_name|e }}</b></p>

<p>Here is the information about your access keys:</p>
<p>Total number of keys: <b>{{ access_keys | length }}</b></p>

<p><b>Key Names</b></p>
<ul>
{% for key in access_keys %}
<li><i>{{ key['name']|e }}</i></li>
{% endfor %}
</ul>
