{% set bytes_transferred = context['bytesTransferredByUserId'] %}
{% set user_names = context['userNames'] %}
{{ thought_balloon }}{{ first_name }},

<b>Here is the information about bytes transferred by users:</b>
{% if bytes_transferred %}
    Total Bytes Transferred:
    {% for user_id, bytes in bytes_transferred.items() %}{% set user_name = user_names.get(user_id, 'Unknown') %}
        {{ minus }} <i>{{ user_name }} (User ID {{ user_id }}): {{ set_naturalsize(bytes) if bytes else 0 }}</i>
    {% endfor %}
{% else %}
    <i>No data available.</i>
{% endif %}